* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 500px;
    height: 100vh;
    background: linear-gradient(to bottom, #009688 15%, #D9DBD5 15% 85%);
    font-family: 'Lato', sans-serif;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}

/* MAIN */
.wrapper {
    min-width: 300px;
    width: 60%;
    height: 95vh;
}

#navigation_area {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
}

.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 5px;
    background-color: #EAEAEA;
}

.user_name {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 70%;
}

.user_name img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 5px;
}

.user_menu {
    width: 30%;
    display: flex;
    justify-content: space-around;
}

.user_menu i {
    margin: 0 5px;
    color: #B1B1B1;
}

.activate_notification {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 10px 5px;
    background-color: #8EDAFC;
}

.bell {
    background-color: white;
    border-radius: 50%;
    padding: 12px 12px;
    margin-right: 10px;
}

.bell i {
    font-size: 20px;
    color: #8EDAFC;
}

.activate a {
    font-size: 13px;
    color: #6C7D8C;
    text-decoration: underline;
}

.search_bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 5px 10px;
    background: #FAFAFA;
}

.search_bar input {
    width: 400px;
    background-color: white;
    color: #6C7D8C;
    padding: 6px 25px;
    border: none;
    border-radius: 0 2px 2px 0;
}

.search {
    background-color: white;
    border: none;
    border-radius: 2px 0 0 2px;
    padding: 5px 10px;
}

.search i {
    color: #6C7D8C;
}

.chat_list {
    width: 100%;
    height: 82%;
    background: white;
    overflow-y: scroll;
}

.chat_list img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 5px;
}

.contact_name {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.contact_name:hover {
    background-color: #F5F5F5;
    cursor: pointer;
}

#chat_area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    height: 100%;
}

.chat_header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: #EAEAEA;
}

.selected_contact {
    display: flex;
    align-items: center;
    padding: 10px;
}

.selected_contact img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 5px;
}

.selected_contact_tools {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.selected_contact_tools i {
    font-size: 16px;
    font-weight: 900;
    color: #6C7D8C;
    margin: 0 10px;
}

.chat_main {
    width: 100%;
    height: 86%;
    background-image: url(../img/mine.jpg);
    overflow-y: scroll;
}

.chat_container {
    width: 100%;
}

.message_received {
    float: left;
    margin: 20px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    background-color: white;
}

.message_sent {
    float: right;
    margin: 20px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    background-color: #d2f8b7;
}

.text_area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px;
    background: #F3EEEA;
}

.text_area i {
    font-size: 25px;
    color: #6C7D8C;
    margin: 0 20px;
}

.text_area input {
    width: 600px;
    padding: 10px;
    border: none;
    border-radius: 2px;
}